#footer {
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.grades {
    padding-top: 67px;
    padding-left: 17px;
    padding-right: 17px;
}

ul.social {
    color : #bfbfbf;
    font-size : 12px;
    margin:0;
    text-align: left;
    list-style: none;
    padding-left: 5px;
}

.logo {
    float: right;
}

.logo img {
    max-width: 300px;
    position: absolute;
    right: 65px;
    top: 210px;
}

h3 {

    font-family: 'Source Sans Pro', sans-serif;
    font-weight : 300;
    font-size : 14px;
    color : #9b9b9b;

}

.copyright {
    float: right;
    padding-right: 5px;
}

.social {
    float: left;
}