
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
}

/*!* Set height of the grid so .sidenav can be 100% (adjust as needed) *!*/
/*.row.content {height: 450px}*/

/* ana */
 #main-wrapper {
     height:100%;
     max-height:100%;
 }
#main-content {
    margin-bottom: 60px; /*footer height value */
    margin-top: 50px;
    position:relative;
    height: 100%;
    padding-left:0;
    padding-right:0;
    background-color: #f1f1f1;
}

 /* ana */
#middle-column {
    height: 100%;
    position: relative;
    background-color: white;
    display: inline-block;
    margin-left: 200px;
    padding-top: 34px;
}

/* Set gray background color and 100% height */
.sidenav-left {
    padding-top: 20px;
    background-color: #f1f1f1;
    /*height: 150%;*/
    /*position: sticky;*/
    height: 100%;
    width: 200px;
    position: fixed;
    display: inline-block;
    left:0;
}

 /*.sidenav-right {*/
     /*padding-top: 20px;*/
     /*background-color: #f1f1f1;*/
     /*!*height: 150%;*!*/
     /*!*position: sticky;*!*/
     /*height: 100%;*/
     /*position: fixed;*/
 /*}*/

/* Set black background color, white text and some padding */
footer {
    position: fixed;
    bottom:0;
    width:100%;
    height:60px;
    background-color: #555;
    color: white;
    padding-top: 5px;
}

.users-list {
    position: absolute;
    left: -20px;
       }
#sign-out {
    margin-top: 8px;
}

.active-p {
    background-color: #e0e0e0;
}

a:focus, a:hover {
    text-decoration: none;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: -14px;
    margin-top: -14px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    /*.row.content {height:auto;}*/

    #main-content {
       margin-top:50px;
    }
}
