<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Grading App</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footerfont.css}"/>
    <!--<style>-->
        <!--.tab {-->
            <!--display:inline-block;-->
            <!--margin-left: 40px;-->
        <!--}-->
    <!--</style>-->
</head>
<body>

<div class="navbar navbar-inverse" th:replace="admin :: nvbr"></div>

<div id="main-content" class="container-fluid text-center">
    <!--<div class="row content">-->
        <div class="col-sm-2 sidenav-left">
            <br/>
            <br/>
            <br/>
            <p class="active-p"><a href="#" th:href="@{/adminHome/news}"><font size="5">News</font></a></p>
            <br/>
            <p><a href="#" th:href="@{/adminHome/yearsList}"><font size="5">Years</font></a></p>
            <br/>
            <p><a href="#"><font size="5">Exams Date</font></a></p>
            <br/>
            <p><a href="#" th:href="@{/adminHome/history}"><font size="5">History</font></a></p>
        </div>

        <div id="middle-column" class="col-sm-8 text-left" th:fragment="welcometext">
            <h2>Evenimente:</h2>
            <br/>
            <h3>Prelegere susţinută de experţi de la Oficiul European de Brevete – Olanda</h3>
            <p>European Patent Office şi Facultatea de Electronică, Telecomunicaţii şi Tehnologia Informaţiei din Universitatea POLITEHNICA Bucureşti organizează miercuri, 21 iunie 2017, începând cu ora 11:00 în Sala A101, o prelegere cu titlul “Protect Your Ideas  – by EPO under the European Patent Convention” susţinută de un grup de experţi în examinarea de brevete din ICT Cluster of the European Patent Office, Olanda, condus de Manfred Scheu - Director de departament.</p>
            <br/>
            <h3>Admitere licenta:</h3>
            <p>Facultatea de Electronică, Telecomunicaţii şi Tehnologia Informaţiei pregăteşte ingineri în domeniile:

                - Inginerie electronică, telecomunicaţii şi tehnologii informaţionale

                - Calculatoare şi tehnologia informaţiei</p>
            <h3>Admitere master:</h3>
            <p>Admiterea studentiolor la mastere se va efectua pe data de 25.09.2018</p>
        </div>

            <div class="logo col-8">
                <img src="https://i.imgur.com/Gu5ENGP.png"/>
            </div>


    <!--</div>-->
</div>

<div class="navbar navbar-inverse" th:replace="admin :: footer"></div>

</body>
</html>