<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <style>
        body  {
            background-image: url("../images/overlayUPB.jpg");
            background-color: #cccccc;
            background-size: cover;
        }
    </style>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footerfont.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <script type="text/javascript">
        // <![CDATA[
        $.ajax({
            url: "http://localhost:9090/api/students/allStudents",
            success: function(result) {
                parsedResult = JSON.stringify(result);
                localStorage.setItem("allStudents", parsedResult);
                $.ajax({
                    url: "https://api.myjson.com/bins/uus72",
                    success: function(result) {
                        years = result;

                        //Add empty groups

                        years.third.forEach(course => {
                            course.series.forEach( serie => {
                                var first = serie.name;
                                serie.groups = {};
                                // serie.groups[431+serie.name]={};
                            });
                        });

                        //Add students
                        years.third.forEach(course => {
                            course.series.forEach( serie => {
                                var first = serie.name;
                                var allStudents = JSON.parse(localStorage.allStudents);
                                serie.groups[431+serie.name] = allStudents.filter(student => student.grup.name == 431);
                                serie.groups[432+serie.name] = allStudents.filter(student => student.grup.name == 432);
                                serie.groups[433+serie.name] = allStudents.filter(student => student.grup.name == 433);
                                serie.groups[434+serie.name] = allStudents.filter(student => student.grup.name == 434);
                            });
                        });

                        parsedResult = JSON.stringify(years);
                        localStorage.setItem("years", parsedResult);
                        document.querySelector('.table-container').innerHTML = `
                <table class="table" id='woork'></table>

                <div class="buttons-list">
                <button type="button" class="btn btn-primary btn-lg btn-block">Anul 1</button>
                <button type="button" class="btn btn-primary btn-lg btn-block">Anul 2</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="insertCourses(years.third)">Anul 3</button>
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="insertCourses(years.fourth)">Anul 4</button>
                </div>
                `;
                    }
                });
            }
        });

        insertCourses = function(courses){
            document.querySelector(".buttons-list").innerHTML = '';
            document.querySelector("table").innerHTML = `
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Year of study</th>
            <th>Teacher Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody></tbody>
`;
            courses.forEach((course, index) => {
                document.querySelector("tbody").innerHTML += `
            <tr id="${index}" class="table-body">
                <td>${course.title}</td>
                <td>${course.description}</td>
                <td>${course.yearOfStudy}</td>
                <td>${course.teachers[0].firstName} ${
                    course.teachers[0].lastName
                    }</td>
                <td>${course.teachers[0].email}</td>
                <td>${course.teachers[0].phoneNo}</td>
            </tr>
        `;
            });
            setUpEventListenersCourses(courses);
        };

        setUpEventListenersCourses = function(courses) {
            rows = document.querySelectorAll("tbody tr");
            localStorage.setItem('courses',JSON.stringify(courses));
            rows.forEach(item => item.addEventListener("click", handleClickCourses));
        };

        handleClickCourses = function(){
            courses = JSON.parse(localStorage.getItem('courses'));
            insertSeries(courses[this.id].series);
        };

        insertSeries = function(series){
            document.querySelector("table").innerHTML = `
    <thead>
        <tr>
            <th>Name</th>
            <th>Specialisation</th>
            <th>Year of study</th>
            <th>Number of groups</th>
        </tr>
    </thead>
`;
            console.log(series);
            series.forEach((serie, index) => {
                document.querySelector("table").innerHTML += `
        <tbody>
            <tr id="${index}">
                <td>${serie.name}</td>
                <td>${serie.specialization}</td>
                <td>${serie.yearOfStudy}</td>
                <td>${serie.grups.length}</td>
            </tr>
        </tbody>
        `;
            });
            setUpEventListenersSeries(series);
        };

        setUpEventListenersSeries = function(series){
            rows = document.querySelectorAll("tbody tr");
            localStorage.setItem('series',JSON.stringify(series));
            rows.forEach(item => item.addEventListener("click", handleClickSeries));
        };

        handleClickSeries = function(){
            series = JSON.parse(localStorage.getItem('series'));
            console.log(series[this.id].groups);
            insertGroups(series[this.id]);
        };

        insertGroups = function(serie){
            document.querySelector("table").innerHTML = `
    <thead>
        <tr>
            <th>Group</th>
            <th>Year of study</th>
        </tr>
    </thead>
`;
            groups = serie.groups;
            for(index=0;index<4;index++){
                document.querySelector("table").innerHTML += `
        <tbody>
            <tr id="${index}">
                <td>${Object.keys(groups)[index]}</td>
                <td>3</td>
            </tr>
        </tbody>
        `;
            }
            setUpEventListenersGroups(groups);
        };

        setUpEventListenersGroups = function(groups){
            rows = document.querySelectorAll("tbody tr");
            localStorage.setItem('groups',JSON.stringify(groups));
            rows.forEach(item => item.addEventListener("click", handleClickGroups));
        };

        handleClickGroups = function(){
            groups = JSON.parse(localStorage.getItem('groups'));
            console.log(groups[Object.keys(groups)[this.id]]);
            insertStudents(groups[Object.keys(groups)[this.id]]);
        };

        insertStudents = function(students){
            document.querySelector("table").innerHTML = `
    <thead>
        <tr>
            <th>Name</th>
            <th>Scholarship</th>
            <th>Phone</th>
            <th>Student Grade</th>
            <th>Teacher Grade</th>
        </tr>
    </thead>
`;
            students.forEach((student, index) => {
                if(!student.teacherGrade){student.teacherGrade = Math.floor(Math.random() * 11);
                    if(student.teacherGrade>5) student.studentGrade = student.teacherGrade - Math.floor(Math.random() * 3);
                    else student.studentGrade = student.teacherGrade + Math.floor(Math.random() * 3);}
                document.querySelector("table").innerHTML += `
        <tbody>
            <tr>
                <td>${student.lastName} ${student.firstName}</td>
                <td>${student.scholarship}</td>
                <td>${student.phoneNo}</td>
				<td>
				<input onMouseOver="this.style.transform='scale(1.1)'"
                onMouseOut="this.style.transform='scale(1)'" style="border:none; outline:none; width:50px;" type="number"
                value="${student.studentGrade}"/>
				</td>
				<td>
				<input onMouseOver="this.style.transform='scale(1.1)'"
                onMouseOut="this.style.transform='scale(1)'" style="border:none; outline:none; width:50px;" type="number"
                value="${student.teacherGrade}"/>
				</td>
            </tr>
        </tbody>
        `;
            });
        };


        backToYears = function(){
            document.querySelector('.table-container').innerHTML = `
    <table class="table" id='woork'></table>

    <div class="buttons-list">
        <button class="btn btn-success">Anul 1</button>
        <button class="btn btn-success">Anul 2</button>
        <button class="btn btn-success" onclick="insertCourses(years.third)">Anul 3</button>
        <button class="btn btn-success" onclick="insertCourses(years.fourth)">Anul 4</button>
    </div>
    `;
        }
        // ]]>
        var x = document.getElementsByTagName("BODY")[0];

        setTimeout(function(){
            document.body.style.backgroundImage = "none";
        }, 7000);
    </script>

    <title>Moodle Tables</title>

    <style>
        table td:hover {
            cursor: pointer;
        }
    </style>
</head>

<body>
<div class="table-container"></div>

<footer class="container-fluid text-center" th:fragment="footer">
    <div id="footer">
        <ul class="social">
            <li>Address: Bd. Iuliu Maniu 1-3, Sector 6, Bucureşti</li>
            <li>E-mail : etti@electronica.pub.ro</li>
            <li>Telefon: 022 45 912 249</li>
        </ul>
        <h3 class="copyright">© 2018 Made by Victor Cotoman </h3>
        <div style="clear: both"></div>
    </div>
</footer>
</body>

</html>

