<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Grading APP</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/footerfont.css}"/>
    <script type="text/javascript" src="jquery-1.8.3.js"></script>
    <script type="text/javascript">
        var $courses = $('#courses');
        $(function (){
            $.ajax({
                type: 'GET',
                url: "http://localhost:9090/api/courses/allCourses",
                succsess: function(courses){
                   $.each(course, function(i, course){
                       $courses.append('<li>my course</li>');
                   });
                }
            });
        });
    </script>

</head>
<body>

<div th:replace="admin :: nvbr"></div>

<div class="container-fluid text-center">
    <div class="row content">

        <div class="col-sm-8 text-left">
            <h1>List of all years in ETTI Faculty:</h1>
            <h3>First Year</h3>
            <li><a href="#" th:href="@{/teacherHome/coursesByYear1}"> Tap for first year.</a> </li>
            <li><a href="#" th:href="@{/teacherHome/employersList}">Second Year</a></li>
            <h3>Third Year</h3>
            <h3>Fourth Year</h3>
        </div>

    </div>
</div>

<div th:replace="admin :: footer"></div>

</body>
</html>


